

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
}


:root {
  --color-light: #fefdfe;
}
  
.article{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  weight: 100%;
  overflow: hidden;
  
}
  
  
  
  
  
  
  
  
.warpper {
  grid-row: 3 / 4;
  display: grid;
  grid-template: repeat(2, 240px) / repeat(4, 1fr);
  grid-gap: 5px;
  margin: 10px 20px;
}

@media (main-width: 700px){
  .warrper {
    grid-template-columns: 100%;
  }
}


img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transform-origin: left;
}
.mask{
  visibility: hidden; 
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  
}

.image{
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.cols5 figure,
.cols3 figure,
.cols6 figure,
.cols8 figure{
  font-size: 4vw;
}

.cols3 figure{
  display: flex;
  align-items: flex-end;
  justify-items: end;
}
